.CSS1{
    text-align: center;
    
}
.CSS2{
    color: black;
    background-color: yellow;
    
}
 
.CSS3 {
    color: green;
}

.CSS4 {
    color: green;
    
}

.CSS5 {
    text-align: center;
}

.CSS6 {
    text-align: center;
}

.CSS7 {
    color: green;

}

.CSS8
{
    text-align: center;
}

.CSS10 {
    color: green;
}

.CSS9 {
    color: green;
}

.CSS11
{
background-color: green;
}

.CSS12
{
background-color: blue;
}

.CSS13
{
background-color: red;
}

.CSS14 {
background-color: black;
color: aliceblue
}

.CSS15 {
background-color: red ;
}

.CSS16
{
    color: aliceblue;
    background-color: black;
}